html{
    background-color:black;
    color:white;
}

body{
    width:100%;
    margin:0;
}

h2{
    font-family: 'Comforter', cursive;
}

input[type=submit]{
    background-color:rgb(64, 64, 64);
    color:white;
}